{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %}
User Profile
{% endblock title %} 
{% block content %}

<div class="row mt-5">
    <div class="col-md-3">
      <img src="{{user.profile_image.url}}" alt="User image" class="img-fluid mb-4">
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h2>{{request.user}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            <ul>
                <li><a href="{% url 'password_change' %}">Change account password</a></li>
                <li> <a href="{% url 'ProfileSetting' %}"> Change Profile Image and date of birth</a></li>
                <li> <a href="{% url 'FavArticle' %}"> View my favorite category news</a></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <a href="{% url 'logout' %}">
          <button class="btn btn-primary">Logout</button>
        </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}